#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.chart-container {
    width: 100%;
    height: 50vh;
}

.language-switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: #e0e0e0;
    padding: 4px;
    font-family: Arial, sans-serif;
    height: 25px;
    width: fit-content;
    align-self: end;
    user-select: none;
}

.language-switch input[type="radio"] {
    display: none;
}

.language-switch label {
    font-size: 20px;
    padding: 5px 7px;
    cursor: pointer;
    color: #777;
    transition: color 0.3s ease;
    z-index: 3;
}

.language-switch input[type="radio"]:checked + label {
    color: #ffffff;
}

.language-switch .switch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: #aaa;
    border-radius: 15px;
    transition: transform 0.3s ease;
    z-index: 2;
}
